body {
    text-align: center;
    padding-top: 100px;
    background-color: #ddd;
}

.toggleBtn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: url(./../svg/play.svg);
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
}

.pause {
    background-image: url(./../svg/pause.svg);
}